[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none

# CA1062: Validate arguments of public methods
# We have Nullable enabled
dotnet_diagnostic.CA1062.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0090: Use 'new(...)'
# Not a fan since it makes it harder to understand the type, use var instead
dotnet_diagnostic.IDE0090.severity = none

# IDE0042: Deconstruct variable declaration
# Not required
dotnet_diagnostic.IDE0042.severity = none

# IDE0045: Convert to conditional expression
# Not required
dotnet_diagnostic.IDE0045.severity = none

# Style
indent_style = tab

dotnet_style_namespace_match_folder = false

csharp_style_namespace_declarations = file_scoped
csharp_prefer_braces = when_multiline

# No var preferences
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0008.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none